.Rproj.user
.Rhistory
.RData
.Ruserdata
.Ruserdata
rawdata/commuting
rawdata/employment
rawdata/exports
rawdata/geometries
rawdata/imports
rawdata/lookups
rawdata/migration
rawdata/other
rawdata/voting
output